<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (typeof user !== 'undefined') { %>
        <span class="login-user"><%= user.name %>さんとしてログインしています</span>
    <% } else {%>    
        <a href="/login" class="btn">ログイン</a>
    <% } %>
      
      <h2>---------------------------------------------------</h2>
      <h4>会員登録フォーム</h4>
      <form action="/" method="post" class="board-form">
        <span class="label">ユーザー名</span><input type="text" name="name" class="input" required><br>
        <br>
        <span class="label">Eメール</span><input type="email" name="email" class="input" required><br>
        <br>
        <span class="label">パスワード</span><input type="password" name="password" class="input" required><br>
        <br>
        <button type="submit" class="submit">新規会員登録</button>
    </form>
    <h2>---------------------------------------------------</h2>
    <h4>ユーザー一覧</h4>
    <ul class="main-list">
      <% users.forEach(function(user) { %>
          <li class="main-list__item">
              <div class="board">
                  <p class="board__title"><%= user.name %></p>
                  <p class="board__date"><%= user.email %></p>
              </div>
          </li>
      <% }); %>
  </ul>
  </body>
</html>
